[[source]]
trusted-host = "nexus.meteoswiss.ch"
verify-ssl = false
index = "https://nexus.meteoswiss.ch/repository/python-all/pypi"
url = "https://nexus.meteoswiss.ch/repository/python-all/simple"

[dev-packages]
ipython = "*"
pudb = "*"
pytest = "*"
pytest-cov = "*"
yapf = "*"

[packages]
pyyaml = "*"
tox = "*"

[requires]
python_version = "3.5"
